<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Crop Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    {{fileUrl}}
    <img *ngIf="!fileUrl" src="assets/no-image.jpeg" />
    <div *ngIf="isCroped">
      <img [src]="fileUrl" alt="image">
    </div>
    <ion-card-content>
      <ion-button color="medium" size="large" (click)="cropUpload()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>